@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Roboto", sans-serif;
}

.main-body {
  max-width: 65ch;

  a {
    border-bottom: 1px solid rgba(125, 125, 125, .3);
    transition: border .3s ease-in-out;

    &:hover {
      border-bottom: 1px solid rgba(125, 125, 125, .9);
    }
  }
}

.project-item {
  @apply flex w-[350px] items-center gap-4 rounded-md p-4 no-underline opacity-50 transition duration-500 ease-in-out hover:bg-slate-200 hover:opacity-100;
}